*{ 
    margin:0;
    padding:0;
    border:none;
}

.material-symbols-outlined{
    float:right;
}

.topnav li{
    list-style-type: none;
    margin: 0;
    padding: 0;

}


.main-menu a{
    display:block;
    padding:10px;
    background-color: rgb(230, 133, 6);
    border-bottom: solid 1px #0e0d0d;
    color:black;
    text-decoration: none;
    justify-content: center;
}

.main-menu a:hover{
    background-color: rgb(245, 113, 6);
}

.drop-menu a{
    background-color:rgb(235, 146, 95);
    color: black;
}

.drop-menu a:hover{
    background-color: rgb(255, 222, 192)
}

.drop-menu{
    display:none;
    position:absolute;
    width:100%; 
}

nav li:hover .drop-menu{
    display:block;
    justify-content: center;
   
}

p{
    margin: 10px;
}

h1{
    
    
    font-size: 50px;
}
h3{
    font-size: 15px;
    margin: 10px;
    
   
}

h4{
    color: rgb(230, 133, 6);;
}

h2{
    margin: 10px;
    
}

#wrapper{
    max-width: 1200px;
    margin-left: 20px;
    margin-right:auto;

}

.banner img{
    width: 100%;
    display: flex;
    justify-content: center;
  
    
    
}

header{
    display: flex;
    justify-content: space-between;
}

img{
    float: right;
    margin-right: 2em;
    margin-left: 1em;
}

.program-card img{
    width: 100%;
}

.program-card{
    box-shadow: 3px 3px 10px;
    border: 1px solid black;
    width: 25em;
    height: 23em;

}

.program-card p, .program-card h3, .program-card h4{
    margin: 1em;
}

.link{
    text-decoration: none;
    color: black;
}

.card{ 
    width: 23em;
    height: 23em;
    border: 1px solid black;
    border-radius: 20px;
    border-width: 2px;
    background-color: white;
    padding: 26px;

}



@media (min-width: 700px){
    .main-menu {
        display: flex;
        justify-content: center;
        
    }
    h1{
        padding-left: 50px;
    }
    .program-select{
        position: relative;
        width:33%;
        list-style-type: none;
        margin-right:1px;
    }

    .nav{
        margin-left: 30px;
        width: 1350px;
        padding-bottom: 70px;
    }

    .drop-menu{
        position: absolute;
        width:100%;
        list-style-type: none;
        
    }

    .topnav li{
        display: inline;
        margin: 1em;
    }

    .topnav form{
        display: inline;
        margin: 1em;
    }

    .program{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1em;
    }
    .program a{
        text-decoration: none;
        color: black;
    }

    .layoutOne{
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 90px;
        grid-row-gap: 200px;
        padding: 30px;
    }

    .card:hover {
        box-shadow: 4px 4px rgb(230, 133, 6);
    }
   
}





